
.lQuote {
  border-left: 5px solid #0000FF;
  /* border-inline-start:5px solid #0000FF;  */
  padding-left: .5rem;
  /* padding-inline-start: 5rem; */
  line-height: 1.3;
  font-style: italic;
}

.figure {
  margin-right: 2.325rem;

  /* in the case of rtl the margin will have to be applied to be margin-left*/

  /* margin-left: 2.325rem; */
  /* margin-inline-end: 2.325rem; */
  height: 80px;
  width: 80px;
}

.lHeading {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  text-align: left; 
  /* text-align: start; */
}






/* Other styles */
.meta {
  margin-block-start: 0.4rem;
  background: #eee;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  /* padding: 0.5rem; */
  margin-block-end: 0.5rem;
}


/* Utility classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-color: #f3f3f3;
  --max-width: 1100px;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

.container {
  max-width: var(--max-width);
  /* margin: auto; */
  margin-inline: auto;
  padding-inline: 2rem;
  overflow: hidden;
}

.card {
  background: #fff;
  padding-inline: 1rem;
  padding-block: 1rem;
}



/* Inner Page grid Container */
.pageContainer {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin-block: 2rem;
  grid-gap: 1.5rem;
}

.paragraph {
  /* margin: 1rem 0; */
  margin-block: 1rem;
}

img {
  width: 100%;
}

/* margin-bottom and margin-top are not affected when the text direction changes
from ltr to rtl */

.wrapper {
  display: flex;
  flex-wrap: wrap; 
  
}

.writer {
  width: 100%;
  /* margin-bottom: 1.0333rem; */
  margin-block-end: 1.0333rem;;
  color: #3c4856c2;
}

/* Font Awesome Icon Styling (replace with your preferred icon library) */
.fas.fa-globe {
  font-size: 18px;
}

.fas.fa-quran {
  font-size: 18px;
}

.div{
  flex: 1;
  color: #3c4856c2;
}

.author {
  font-size: 1.25rem;
  font-weight: 500;
}




  