* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-color: #f3f3f3;
  --max-width: 1100px;
}


body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

/* Utility Classes */
.container {
  max-width: var(--max-width);
  margin: auto;
  /* margin-inline-start: auto;
    margin-inline-end: auto; */
  padding: 0 2rem;
  overflow: hidden;
}

.card {
  background: #fff;
  padding: 1rem;
}

.lHeading {
  font-size: 3rem;
  margin-bottom: 1rem;
  /* margin-block-end: 1rem; */
  line-height: 1.3;

  /* border-inline-start: 5px solid #0000FF;
  padding-inline-start: .5rem; */

  border-left: 5px solid #0000FF;
  padding-left: .5rem;
  
}

/* Inner Page grid Container */
.pageContainer {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}

.paragraph {
  margin: 1rem 0;
}

img {
  width: 100%;
}

.meta {
  margin-top: 0.4rem;
  background: #eee;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.wrapper {
   display: flex;
  flex-wrap: wrap; 
  
}

.writer {
  width: 100%;
  margin-bottom: 1.0333rem;
  color: #3c4856c2;
}

.figure {
  margin-right: 2.325rem;

  /* in the case of rtl the margin will have to be applied to be margin-left*/
  /* margin-left: 2.325rem; */
  /* margin-inline-end: 2.325rem; */
  height: 80px;
  width: 80px;
}

.div{
  flex: 1;
  color: #3c4856c2;
}

.author {
  font-size: 1.25rem;
  font-weight: 500;
}




  