/* Navigation */
.mainNav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .container {
    display: grid;
    grid-template-columns: 5fr 4fr;
    padding: 1 rem;
    align-items: center;
  }
  
  
  