/* Navigation */
.mainNav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .languageSwitcher {
    margin-inline-start: 10px;
  }

 .dropdown{ 
  margin-inline-start: 3px;
 }
  
  
  